.article {	
    max-width: 1300px;
	margin: 0 auto;
	&--fullScreen {
		height: 100vh;
	}
	&__header {
		margin: 70px 0;
	}	
	&__list {
		display: flex;
		padding: 10px 0;
		box-sizing: border-box;
		& {
			height: auto;
		}
	}
	&__epilogue {
		height: auto;
		box-sizing: border-box;
	}
    @media screen and (max-width: 768px) {
        height: auto;
		margin: 0 auto 0 auto;
		max-width: 300px;
		&__body {
			margin: 0;
		}
		&__list {
			display:block;
		}
		&__epilogue {
			margin: 50px auto;
		}
    }
}

.home {
	& {
		margin-top: -120px;
		display: flex;
		align-items: center;
	}
	@media screen and (max-width: 768px) {
		margin-top: 0px;
		& {
			height: auto;
		}
	}
}