body {
	margin: 0px;
	p,h1,h2,i {
		margin: 0;
	}
}
.container {
	max-width: 1400px;
	margin: 0 auto;
}
.article {	
	height: 100vh;
	&__header {
		margin: 50px;
	}
	&__body {
		margin: 160px 50px;
	}
	&__list {
		height: 100vh;
		display: flex;
		padding: 20px 50px;
		box-sizing: border-box;
	}
	&__epilogue {
		height: auto;
		padding: 0 50px;
		box-sizing: border-box;
	}
}
.header {
	height: 50px;
	display: grid;
	grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr 1fr;
	justify-content: center;
	&__logo {
		height: 50px;
		justify-content: center;
	}
	&__text {
		font: 600 20px/50px 'M PLUS 1', sans-serif;
		color: #828282;
		text-align: center;
		transition: color 0.3s;
		&:hover {
			color: #ff5722;
			cursor: pointer;
		}
	}
}
.delimiter {
	width: 200px;
	border: 2px solid #ff5722;
}
.about {
	display: flex;
	flex-direction: column;
	font: 800 60px/80px 'M PLUS 1', sans-serif;
	&__profile {
		display: flex;
		color: #336699;
	}
	&__name {
		margin: 0px 50px;
		display: flex;
		flex-direction: column;
		margin-top: auto;
		&--grey {
			display: flex;
			color: #ff5722;
			& span {
				color: #5e5d5d;
			}
		}
	}
	&__foto {
		width: 200px;
		height: 100%;
	}
	&__greetings {
		margin: 50px 0 0 0;
		max-width: 850px;
		color: #5e5d5d;
		font: 400 30px/40px 'M PLUS 1', sans-serif;	
	}
	&__info {
		margin: 35px 0 0 0;
		color: #5e5d5d;
		font: 400 18px/30px 'M PLUS 1', sans-serif;	
	}
}
.works {
	&__heading {
		margin: 50px;
		color: #336699;
		font: 400 30px/40px 'M PLUS 1', sans-serif;	
	}
	&__img {
		margin: 50px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		grid-gap: 30px;
	}
	&__foto {
		padding: 3px;
		width: 635px;
		border: 2px solid #ff5722;
		border-radius: 4px;
		text-align: center;
	}
}
.sticky {
	position: relative; 
	width: 50%;	
	&__item {
		position: sticky;
		top: 10px;
		padding-bottom: 20%;
	}
}
.infoBlock {
	position: sticky;
	&__title {
		//margin: 50px;
		color: #336699;
		font: 400 30px/40px 'M PLUS 1', sans-serif;	
	}
	&__subtitle {
		margin: 20px 0 0 0;
		color: #5e5d5d;
		font: 400 25px/40px 'M PLUS 1', sans-serif;	
	}		
}
.skills {
	margin-left: 50px;
	width: 50%;
	&__name {
		color: #336699;
		font: 400 25px/40px 'M PLUS 1', sans-serif;	
	}
	&__item {
		margin: 10px 0;
		color: #5e5d5d;
		font: 400 18px/23px 'M PLUS 1', sans-serif;	
	}
}
.repositori {
	margin-left: 50px;
	width: 50%;
	&__name {
		color: #83838E;
		font: 800 25px/40px 'M PLUS 1', sans-serif;	
	}
	&__description {
		color: #83838E;
		font: 400 20px/30px 'M PLUS 1', sans-serif;
	}
	&__item {

	}
}
.item {
	display: flex;
	margin: 10px 0;
	&__lg {
		margin: 0 20px 0 10px;
		color: #83838E;
		font: 400 16px/20px 'M PLUS 1', sans-serif;
	}
	&__dot {
		height: 20px;
		width: 20px;
		background: #ff9800;
		border-radius: 10px;
		&:nth-child(3) {
			background: #9c27b0;
		}
		&:nth-child(5) {
			background: #ffeb3b;
		}
	}
}
.footer-background {
	background: #2F2F38;
	color: #ADADB9;
	width: 100vw;
	height: 500px;
}
.footer {
	display: flex;
	padding: 120px 50px;
	box-sizing: border-box;
	font: 400 18px/35px 'M PLUS 1', sans-serif;	
	&__title {
		font-weight: 800;
		font-size: 20px;
		margin-bottom: 15px;
		color: #ff5722;
	}
	&__info {
		width: 55%;
	}
	&__menu {
		width: 20%;
	}
	&__contacts {
		width: 25%;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}
	&__logo {
		margin-top: 50px;
		width: 150px;
	}
}
.social {
	display: flex;
	margin-top: auto;
	&__iqon {
		margin: 5px;
		height: 45px;
		width: 45px;
		background: #ADADB9;
		color: white;
		text-align: center;
		transition: background 0.3s;
		&:hover {
			background: #ff5722;
		}
	}
	&__pic {
		font: normal 30px/45px awesome;
	}
}
.tw:before {
	content: "\f09b";
}
.fb:before {
	content: "\f09a";
}
.vk:before {
	content: "\f189";
}
.cp:before {
	content: "\f1cb";
}
.mr:before {
	content: "\f1fa";
}

@media screen and (max-device-width: 768px) {
	body {
		width: 100vw;
		/* position: fixed;
		width: 100%;
		border-bottom: solid 1px #c6c1c1;
		background-color: white;
		z-index: 10; */
	}
	.container {
		width: 100vw;
		margin: 0;
	}
	.article {
		height: auto;
		width: 100vw;
		box-sizing: border-box;
		margin: 0 auto 0 auto;
		max-width: 320px;
		&__body {
			margin: 20px 0 0 0;
			display: flex;
			flex-direction: column;
		}
	}
	.header {
		display: flex;
		justify-content: flex-start;
		margin: 40px 0 0 0;
		&__logo {
			
		}
		&__text {
			display: none;
		}
	}
	.about {
		font: 800 50px/60px 'M PLUS 1', sans-serif;
		&__profile {
			display: block;
			margin-top: 20px;
		}
		&__name {
			margin: 0;
			&--grey {
				& span {
					padding-top: 60px;
					color: #5e5d5d;
					margin-right: 25px;

				}
			}
		}
		&__greetings {
			margin-top: 20px;
			font: 400 25px/35px 'M PLUS 1', sans-serif;
		}
		&__info {
			& p:nth-child(3) {
				margin-top: 10px;
			}
			& p:nth-child(4) {
				margin-top: 10px;
			}
		}
 	}
	.works {
		&__heading {
			margin: 40px 0;
		}
		&__img {
			display: block;
			margin: 40px 0;
		}
		&__foto {
			width: 320px;
			box-sizing: border-box;
		}
	}
  }