.menu {
    display: none;
    background: white;
    @media screen and (max-width: 768px) {
        background: white;
        padding: 25px 0 40px 0;
        height: calc(100vh - 110px);
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &__header {
            font: 600 20px/30px 'M PLUS 1', sans-serif;
            display: flex;
            justify-content: space-between;
            color: #828282;
            height: 30px;
            &-logo {
                height: 30px;
                width: 85px;
            }
        }
        &__list {
            font: 600 20px/90px 'M PLUS 1', sans-serif;
            color: #828282;
            text-align: center;
        }
        &__list-text:nth-child(1) {
            color: #ff5722;
        }
        &__footer {
            max-width: 1300px;
            margin: 0 auto;
            box-sizing: border-box;
            font: 400 18px/35px 'M PLUS 1', sans-serif;
            text-align: center;
            color: #828282;
        }
        &__title {
            font-weight: 800;
            font-size: 20px;
            margin-bottom: 15px;
            color: #ff5722;
        }
    }

}

.invisible {
    && {
        display: none;
    }
}



    
