.works {
	&__heading {
		margin: 50px 0;
		color: #336699;
		font: 400 30px/40px 'M PLUS 1', sans-serif;	
	}
	&__img {
		margin: 50px 0;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		grid-gap: 30px;
	}
	&__foto {
		padding: 3px;
		width: 635px;
		border: 2px solid #ff5722;
		border-radius: 4px;
		text-align: center;
	}
    @media screen and (max-width: 768px) {
        &__heading {
			margin: 40px 0;
		}
		&__img {
			display: block;
			margin: 40px 0 10px;
		}
		&__foto {
			width: 300px;
			box-sizing: border-box;
		}
    }
}